<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>TraceLogPerformanceTests_ObjC</key>
		<dict>
			<key>testLogError_Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.68185</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 4:20:04 PM</string>
				</dict>
			</dict>
			<key>testLogError_Performance_NullWriter</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.018196</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 4:20:04 PM</string>
				</dict>
			</dict>
			<key>testLogTrace4_Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.53739</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 4:20:04 PM</string>
				</dict>
			</dict>
			<key>testLogTrace4_Performance_NullWriter</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0173</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 4:20:04 PM</string>
				</dict>
			</dict>
		</dict>
		<key>TraceLogPerformanceTests_Swift</key>
		<dict>
			<key>testLogError_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.39673</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 4:20:04 PM</string>
				</dict>
			</dict>
			<key>testLogError_Performance_NullWriter()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12341</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 4:20:04 PM</string>
				</dict>
			</dict>
			<key>testLogTrace4_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.37852</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 4:20:04 PM</string>
				</dict>
			</dict>
			<key>testLogTrace4_Performance_NullWriter()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12654</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 4:20:04 PM</string>
				</dict>
			</dict>
		</dict>
		<key>TraceLogTests_ObjC</key>
		<dict>
			<key>testLogError_Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.081898</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 3:54:49 PM</string>
				</dict>
			</dict>
			<key>testLogError_Performance_NullWriter</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15734</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 3:54:49 PM</string>
				</dict>
			</dict>
			<key>testLogTrace4_Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0018338</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 3:54:49 PM</string>
				</dict>
			</dict>
			<key>testLogTrace4_Performance_NullWriter</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1562</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 3:54:49 PM</string>
				</dict>
			</dict>
		</dict>
		<key>TraceLogTests_Swift</key>
		<dict>
			<key>testLogError_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010969</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 3:54:49 PM</string>
				</dict>
			</dict>
			<key>testLogError_Performance_NullWriter()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.087</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 3:54:49 PM</string>
				</dict>
			</dict>
			<key>testLogTrace4_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010589</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 3:54:49 PM</string>
				</dict>
			</dict>
			<key>testLogTrace4_Performance_NullWriter()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1183</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 1, 2016, 3:54:49 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
